html
{	

	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

body 
{	
	padding-top: 50px;
	background-image: url("http://icons.wunderground.com/webcamramdisk/c/h/chyneuze/2/current.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;

	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}

nav
{
	
	position: fixed;
	//background-color: #00ff00;
	background-color: #4d1900
}


.starter-template 
{
	padding: 40px 15px;
	text-align: center;
}

.appembed
{
	text-align: center;
}





// custom navbar, lets give this a whirl

.navbar-inverse {
  background-color: #000000;
  border-color: #141211;
}
.navbar-inverse .navbar-brand {
  color: #8f8f8f;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #ffa300;
}
.navbar-inverse .navbar-text {
  color: #8f8f8f;
}
.navbar-inverse .navbar-nav > li > a {
  color: #8f8f8f;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffa300;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a {
  color: #8f8f8f;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffa300;
  background-color: #141211;
}
.navbar-inverse .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #000000;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffa300;
  background-color: #141211;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #ffa300;
  background-color: #141211;
}
.navbar-inverse .navbar-toggle {
  border-color: #141211;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #141211;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #8f8f8f;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #8f8f8f;
}
.navbar-inverse .navbar-link {
  color: #8f8f8f;
}
.navbar-inverse .navbar-link:hover {
  color: #ffa300;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #8f8f8f;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffa300;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffa300;
    background-color: #141211;
  }
}



