html
{	

	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

body 
{	
	padding-top: 50px;
	//background-image: url("http://www.stjohnspice.com/images2/spicecam1.jpg");
	background-image: url('/home/bruce/Pictures/background.jpg');	
	background-repeat: no-repeat;
	background-attachment: fixed;

	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

}

.content
{
	background-color: white;
}

nav
{
	
	position: fixed;
	//background-color: #00ff00;
	background-color: #4d1900
}


.starter-template 
{
	padding: 40px 15px;
	text-align: center;
}

.appembed
{
	text-align: center;
}

