body 
{	
	padding-top: 50px;
	background-image: url("http://icons.wunderground.com/webcamramdisk/c/h/chyneuze/2/current.jpg");
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
}


nav
{
	
	position: fixed;
}

.starter-template 
{
	padding: 40px 15px;
	text-align: center;
}
